body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
 }
}
.star:nth-child(1) {
  --star-tail-length: 3710063775.5599999428em;
  --top-offset: 175609777521.8299865723vh;
  --fall-duration: 5360235039.6350002289s;
  --fall-delay: 15024946474.4130001068s;
}
.star:nth-child(2) {
  --star-tail-length: 2473128551.7800002098em;
  --top-offset: 21976867867.0400009155vh;
  --fall-duration: 8261171656.5030002594s;
  --fall-delay: 811907002.5820000172s;
}
.star:nth-child(3) {
  --star-tail-length: 2908951949.9800000191em;
  --top-offset: 147799648787.0299987793vh;
  --fall-duration: 9072821728.9729995728s;
  --fall-delay: 5525669781.7270002365s;
}
.star:nth-child(4) {
  --star-tail-length: 4515547684.8000001907em;
  --top-offset: 205241113459.1400146484vh;
  --fall-duration: 8345652804.3479995728s;
  --fall-delay: 18182369075.1020011902s;
}
.star:nth-child(5) {
  --star-tail-length: 399122070.25em;
  --top-offset: 40273221119.4199981689vh;
  --fall-duration: 8475354067.623000145s;
  --fall-delay: 12371610667.3630008698s;
}
.star:nth-child(6) {
  --star-tail-length: 2604026183.7899999619em;
  --top-offset: 79646867190.3300018311vh;
  --fall-duration: 8616200166.061000824s;
  --fall-delay: 14711939486.8439998627s;
}
.star:nth-child(7) {
  --star-tail-length: 3111940792.9699997902em;
  --top-offset: 107206427870.8300018311vh;
  --fall-duration: 3004837156.7379999161s;
  --fall-delay: 17020028832.7000007629s;
}
.star:nth-child(8) {
  --star-tail-length: 3523994606.6300001144em;
  --top-offset: 209047263436.0799865723vh;
  --fall-duration: 5439335144.7889995575s;
  --fall-delay: 10172815569.8390007019s;
}
.star:nth-child(9) {
  --star-tail-length: 3009547496.5500001907em;
  --top-offset: 197419403266.3299865723vh;
  --fall-duration: 9101596301.936000824s;
  --fall-delay: 1905134634.4140000343s;
}
.star:nth-child(10) {
  --star-tail-length: 375481800.9100000262em;
  --top-offset: 33767052867.6500015259vh;
  --fall-duration: 1194636808.9549999237s;
  --fall-delay: 12731373400.0389995575s;
}
.star:nth-child(11) {
  --star-tail-length: 1754079808.25em;
  --top-offset: 161290070894.3500061035vh;
  --fall-duration: 4596910246.0360002518s;
  --fall-delay: 13515774902.3460006714s;
}
.star:nth-child(12) {
  --star-tail-length: 3812678637.2100000381em;
  --top-offset: 90711354128.3899993896vh;
  --fall-duration: 11653175486.267999649s;
  --fall-delay: 8659241827.5990009308s;
}
.star:nth-child(13) {
  --star-tail-length: 3046807108.7199997902em;
  --top-offset: 82389857361.9199981689vh;
  --fall-duration: 8170833316.6219997406s;
  --fall-delay: 6198933141.3310003281s;
}
.star:nth-child(14) {
  --star-tail-length: 4979074462.529999733em;
  --top-offset: 78494589074.0399932861vh;
  --fall-duration: 3965414082.2140002251s;
  --fall-delay: 5780108993.1040000916s;
}
.star:nth-child(15) {
  --star-tail-length: 1427709919.8099999428em;
  --top-offset: 202312584435.5199890137vh;
  --fall-duration: 1904769536.6870000362s;
  --fall-delay: 8566496774.0209999084s;
}
.star:nth-child(16) {
  --star-tail-length: 424770495.2099999785em;
  --top-offset: 56823466278.4499969482vh;
  --fall-duration: 637259998.2999999523s;
  --fall-delay: 11072434482.7350006104s;
}
.star:nth-child(17) {
  --star-tail-length: 1731163365.1800000668em;
  --top-offset: 44815858437.7300033569vh;
  --fall-duration: 10629759629.3819999695s;
  --fall-delay: 10029238243.5419998169s;
}
.star:nth-child(18) {
  --star-tail-length: 3262903126.5300002098em;
  --top-offset: 152314605437.549987793vh;
  --fall-duration: 2867229419.9369997978s;
  --fall-delay: 15845340035.5659999847s;
}
.star:nth-child(19) {
  --star-tail-length: 781899969.2999999523em;
  --top-offset: 37051575887.1100006104vh;
  --fall-duration: 7898715187.1579999924s;
  --fall-delay: 17920897090.5180015564s;
}
.star:nth-child(20) {
  --star-tail-length: 3255431222.9899997711em;
  --top-offset: 145310017748.8200073242vh;
  --fall-duration: 4001759690.8060002327s;
  --fall-delay: 18167357564.1010017395s;
}
.star:nth-child(21) {
  --star-tail-length: 4184876984.1500000954em;
  --top-offset: 148576441458.5299987793vh;
  --fall-duration: 2438293092.4619998932s;
  --fall-delay: 20066780187.3709983826s;
}
.star:nth-child(22) {
  --star-tail-length: 1169667984.2899999619em;
  --top-offset: 119057522261.7700042725vh;
  --fall-duration: 6458880254.6579999924s;
  --fall-delay: 1587408234.9509999752s;
}
.star:nth-child(23) {
  --star-tail-length: 1690145753.4000000954em;
  --top-offset: 110992884578.6399993896vh;
  --fall-duration: 11317893693.2810001373s;
  --fall-delay: 12808777079.6329994202s;
}
.star:nth-child(24) {
  --star-tail-length: 3315939022.4200000763em;
  --top-offset: 101618459329.8500061035vh;
  --fall-duration: 2820881782.6180000305s;
  --fall-delay: 16239718179.4370002747s;
}
.star:nth-child(25) {
  --star-tail-length: 508898471.4300000072em;
  --top-offset: 83906953456.3600006104vh;
  --fall-duration: 5961384746.5570001602s;
  --fall-delay: 14192819940.0799999237s;
}
.star:nth-child(26) {
  --star-tail-length: 4992869038.5em;
  --top-offset: 52851104882.0299987793vh;
  --fall-duration: 8487396262.3210000992s;
  --fall-delay: 11297921409.1730003357s;
}
.star:nth-child(27) {
  --star-tail-length: 4192862386em;
  --top-offset: 124773978250.2100067139vh;
  --fall-duration: 1953255654.3599998951s;
  --fall-delay: 16990188798.9950008392s;
}
.star:nth-child(28) {
  --star-tail-length: 4155468521.4600000381em;
  --top-offset: 193019033073.3099975586vh;
  --fall-duration: 4767362548.0190000534s;
  --fall-delay: 6187910679.1949996948s;
}
.star:nth-child(29) {
  --star-tail-length: 3605197253.1500000954em;
  --top-offset: 112693983471.5200042725vh;
  --fall-duration: 389348342.5759999752s;
  --fall-delay: 14958385909.0219993591s;
}
.star:nth-child(30) {
  --star-tail-length: 1060747046.3300000429em;
  --top-offset: 142428900765.9299926758vh;
  --fall-duration: 12170362219.6930007935s;
  --fall-delay: 15849102841.8090000153s;
}
.star:nth-child(31) {
  --star-tail-length: 1728035696.8499999046em;
  --top-offset: 168517469961.9899902344vh;
  --fall-duration: 11746927531.0049991608s;
  --fall-delay: 6736371739.8170003891s;
}
.star:nth-child(32) {
  --star-tail-length: 1581738567.2599999905em;
  --top-offset: 195239323180.1199951172vh;
  --fall-duration: 9506640686.0839996338s;
  --fall-delay: 7398623078.329000473s;
}
.star:nth-child(33) {
  --star-tail-length: 1399826959.8199999332em;
  --top-offset: 1095514540.5vh;
  --fall-duration: 2638893944.3660001755s;
  --fall-delay: 13891252406.341999054s;
}
.star:nth-child(34) {
  --star-tail-length: 214513932.1599999964em;
  --top-offset: 212191496627.9599914551vh;
  --fall-duration: 8319195751.5740003586s;
  --fall-delay: 6195596457.6960000992s;
}
.star:nth-child(35) {
  --star-tail-length: 1178430459.5499999523em;
  --top-offset: 212921237894.7900085449vh;
  --fall-duration: 10690556378.4850006104s;
  --fall-delay: 19598523636.3979988098s;
}
.star:nth-child(36) {
  --star-tail-length: 4809406062.8100004196em;
  --top-offset: 85704683811.4199981689vh;
  --fall-duration: 12803124558.5090007782s;
  --fall-delay: 10517607235.5580005646s;
}
.star:nth-child(37) {
  --star-tail-length: 1091032282.1400001049em;
  --top-offset: 72475684443.7599945068vh;
  --fall-duration: 6173382343.6020002365s;
  --fall-delay: 18684744787.6500015259s;
}
.star:nth-child(38) {
  --star-tail-length: 3683410725.6100001335em;
  --top-offset: 90441518447.5200042725vh;
  --fall-duration: 500937795.7189999819s;
  --fall-delay: 18621274061.2120018005s;
}
.star:nth-child(39) {
  --star-tail-length: 4360009769.3299999237em;
  --top-offset: 93546321196.75vh;
  --fall-duration: 5489501506.4560003281s;
  --fall-delay: 7038782417.861000061s;
}
.star:nth-child(40) {
  --star-tail-length: 4452405364.2700004578em;
  --top-offset: 195474013346.7900085449vh;
  --fall-duration: 7277599223.0810003281s;
  --fall-delay: 19139707319.3540000916s;
}
.star:nth-child(41) {
  --star-tail-length: 2498353876.0799999237em;
  --top-offset: 100215185516.5vh;
  --fall-duration: 9768053661.6529998779s;
  --fall-delay: 16376660232.2730007172s;
}
.star:nth-child(42) {
  --star-tail-length: 2559623784.3000001907em;
  --top-offset: 192823586730.6300048828vh;
  --fall-duration: 3545624004.8600001335s;
  --fall-delay: 11758649147.3400001526s;
}
.star:nth-child(43) {
  --star-tail-length: 3507166507.4099998474em;
  --top-offset: 189019022712.2699890137vh;
  --fall-duration: 5075530562.795999527s;
  --fall-delay: 14809925494.4650001526s;
}
.star:nth-child(44) {
  --star-tail-length: 40517002.299999997em;
  --top-offset: 209849964498.1600036621vh;
  --fall-duration: 9840571707.9799995422s;
  --fall-delay: 20569117816.111000061s;
}
.star:nth-child(45) {
  --star-tail-length: 5177622046.2600002289em;
  --top-offset: 120653043297.9199981689vh;
  --fall-duration: 2553624481.1570000648s;
  --fall-delay: 6153717780.2469997406s;
}
.star:nth-child(46) {
  --star-tail-length: 5003541666.4300003052em;
  --top-offset: 118814583370.3099975586vh;
  --fall-duration: 6408800151.3649997711s;
  --fall-delay: 16933209361.6210002899s;
}
.star:nth-child(47) {
  --star-tail-length: 1173471091.1099998951em;
  --top-offset: 159514910896.1000061035vh;
  --fall-duration: 12374614566.077999115s;
  --fall-delay: 6523897684.5360002518s;
}
.star:nth-child(48) {
  --star-tail-length: 1694180244.5699999332em;
  --top-offset: 147653866410.25vh;
  --fall-duration: 10656427191.2350006104s;
  --fall-delay: 2554459490.4070000648s;
}
.star:nth-child(49) {
  --star-tail-length: 4176599009.1700000763em;
  --top-offset: 187071635192.9899902344vh;
  --fall-duration: 4941284178.126999855s;
  --fall-delay: 13606380922.0419998169s;
}
.star:nth-child(50) {
  --star-tail-length: 2347513591.2699999809em;
  --top-offset: 76890389970.1699981689vh;
  --fall-duration: 3874277135.2540001869s;
  --fall-delay: 5525651609.9099998474s;
}
.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
 }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
 }
  70%, 80% {
    width: 0;
    opacity: 0.4;
 }
  100% {
    width: 0;
    opacity: 0;
 }
}
@keyframes blink {
  50% {
    opacity: 0.6;
 }
}
